# These settings are applied in configuration.py
DATABASE_URL=postgres://fiduswriter:`password from postgres.env`@postgres/fiduswriter
# You can reate the SECRET_KEY with https://djecrety.ir/
SECRET_KEY=
ALLOWED_HOSTS=
# LANGUAGE_CODE=en_us
# DEBUG=True
# PROJECT_PATH=
# SRC_PATH=
CONTACT_EMAIL=
ADMIN_NAME=
ADMIN_EMAIL=
# REGISTRATION_OPEN=False
# ACCOUNT_EMAIL_VERIFICATION=optional
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587
# TLS for Email in Django means STARTTLS for SMTP in MX
EMAIL_USE_TLS=True
# EMAIL_USE_SSL=True # SSL compatibility for port 465
# EMAIL_SUBJECT_PREFIX=[Fidus Writer]
DEFAULT_FROM_EMAIL=
SERVER_EMAIL=
# ADMIN_SITE_TITLE=
# ADMIN_SITE_HEADER=
# ADMIN_INDEX_TITLE=
# PROJECT_PATH=/fiduswriter
# SRC_PATH=/usr/local/lib/python3.6/dist-packages/fiduswriter/
# DEBUG=1
# AUTO_SETUP=True
# IS_FREE=True
